@font-face {
	font-family: "made_saonararegular";
	src: url("made_saonara-webfont.woff2") format("woff2"),
		url("made_saonara-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
