//BG Purple Gradient
$bgLightPurple: #f7efff;
$bgDarkPurple: #e6e8ff;

//BG Gray Gradient
$lightGray: #f5f5f5;
$darkGray: #cccccc;

//Overlay Gradient
$overLightPurple: #ebd7ff;
$overDarkPurple: #c0c5ff;

//Nav opacity
$navOpacity: 0.8;

//Hover/active gradinet. project title line;
$gradDark: #8a5aff;
$gradLight: #ce97ff;

//Headers
$header: #6d0ca0;

//subtitles and nav items
$subGray: #454545;

//Body Text
$bodyGray: #717171;

//Greyed-out lin
$linkGray: #d0d0d0;

//button stroke size:
$btnStroke: 2px;

//Variable for tracking to ems
$tracking250: #{(250/1000)}em;
$tracking0: 0;
